{
    "extends": [
      "wesbos",
      "prettier"
    ],
    "rules": {
      "indent": 1,
      "quotes": [
        2,
        "single",
        {
          "avoidEscape": true
        }
      ],
      "no-unused-expressions": [
        1,
        {
          "allowTernary": true
        }
      ],
      "arrow-body-style": ["warn", "as-needed"],
      "prettier/prettier": [
        "error",
        {
          "trailingComma": "es5",
          "singleQuote": true,
          "printWidth": 140,
          "endOfLine": "auto"
        }
      ],
      "react/prop-types": 0
    }
  }