@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inconsolata";
  src: url("../assets/fonts/Inconsolata-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inconsolata";
  src: url("../assets/fonts/Inconsolata-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --blue: rgba(44, 66, 81, 1);
  --grey: rgba(61, 61, 61, 1);
  --white: rgba(251, 255, 254, 1);
  --drop-shadows: rgba(1, 1, 1, 1);
  --header-font: "Montserrat", "Sans-Serif";
  --body-font: "Inconsolata", "Monospace";
  --grvsc-line-highlighted-background-color: rgba(255, 255, 255, 0.2);
  --grvsc-line-highlighted-border-color: rgba(255, 255, 255, 0.5);
  --grvsc-line-highlighted-border-width: 5px;
}

:focus {
  outline: 1px solid var(--grey);
}

body {
  font-size: 10px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--blue) var(--white);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: var(--white);
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 5 px;
}

pre {
  white-space: "break-spaces";
  font-family: var(--grey);
  font-size: 1.1rem;
  line-height: 1.5rem;
  background-color: var(--white);
}

body {
  background-color: var(--white);
}

p,
a,
button,
li,
th,
td,
input {
  font-family: var(--body-font);
  color: var(--grey);
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 0;
  line-height: 1.75;
}

table {
  padding: 1rem;
}

th {
  font-weight: bold;
}

ul {
  margin-bottom: 0;
  padding-left: 1rem;
}

hr {
  width: 100%;
  text-decoration: none;
  color: var(--grey);
  opacity: 0.5;
}

a {
  text-decoration: none;
}

button {
  font-size: 0.8rem;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--header-font);
  color: var(--grey);
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 0rem;
  overflow-wrap: break-word;
  hyphens: auto;
}

h1 {
  color: var(--blue);
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.25rem;
}
