@import './global.css';


/* Start of blog section stylings */

.blogContainerOuter {
    display: flex;
    flex-direction: column; 
}

.blogContainerOuter > a {
    color: black;
    transition: 0.5s;
}

.blogContainerOuter > a:hover    {
    transform: scale(1.1,1.1);
}

.blogPostContainer  {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(153,153,153,0.7);
    -moz-box-shadow: 0px 0px 10px 0px rgba(153,153,153,0.7);
    box-shadow: 0px 0px 10px 0px rgba(153,153,153,0.7);
    padding: 1rem;
    margin-bottom: 2rem;
}

.blogPostLeftContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-grow: 1;
}

.blogPostIDCategoryContainer    {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.blogPostIDCategoryContainer > * {
    margin-bottom: 0;
}

.blogPostID {
    height: 1.5rem;
    width: 1.5rem;
    background-color: #1f2a51;
    padding: 0.5rem;
    text-align: center;
    color: white;
}

.blogPostCategory   {
    background-color: white;
    border: 1px solid #1f2a51;
    color: #1f2a51;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: .5rem;
}

.blogPostLanguages   {
    background-color: #1f2a51;
    color: white;
    padding: 0.5rem;
    width: fit-content;
    height: 1.5rem;
    margin-left: 1rem;
}

.blogPostTitle  {
    margin-bottom: 0.5rem;
}

.blogPostRightContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.blogPostDateContainer   {
    word-break: break-all;
    width: 2.5rem;
    padding: 0.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2a51;
    color: white;
}

.blogPostDate   {
    margin: 0;
    text-align: center;
    font-size: 1rem;
}

/* End of blog section stylings */

/* Start of contact section stylings */


/* End of contact section stylings */