---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Layout from '../layouts/Layout.astro'
import Socials from '../components/Socials.astro'
---

<Layout>
  <Header />

  <main class="space-y-24 py-24 sm:space-y-40 sm:py-32">
    <div class="mx-auto max-w-5xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h1
          class="mt-2 text-5xl font-semibold tracking-tight text-light sm:text-7xl"
        >
          Say Hi 👋
        </h1>
        <p class="mt-8 text-pretty text-lg text-mid sm:text-xl/8">
          Got a question you want to ask? A project you want to team up on? Or,
          want me to speak at a conference? Here's how to get in touch.
        </p>
      </div>
      <section
        class="grid w-full grid-cols-1 gap-x-8 gap-y-10 py-12 md:grid-cols-2"
      >
        <a
          class="flex flex-col gap-4 rounded-md border border-mid px-6 py-6 transition-colors duration-150 ease-in-out hover:border-brand"
          href="mailto:hey@conermurphy.com"
        >
          <p class="font-bold text-brand">Send me an email</p>
          <h2 class="text-2xl">hey@conermurphy.com</h2>
          <p>Want to send me an email? Click here and say hi!</p>
        </a>

        <div
          class="flex flex-col gap-4 rounded-md border border-mid px-6 py-6 transition-colors duration-150 ease-in-out hover:border-brand"
        >
          <p class="font-bold text-brand">Socials</p>
          <div class="[&>div]:justify-start [&>div]:gap-x-4">
            <Socials />
          </div>
          <p>Email not your thing? Come say hi on social media!</p>
        </div>
      </section>
    </div>
  </main>

  <Footer />
</Layout>
