@import "../styles/global.css";

.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    padding: 1.5rem;
    margin-top: 3.5rem;
}

.homeSocialBoxContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.homeSocialBox svg {
    width: auto;
    height: 60px;
    margin: 1rem;
    color: #333333;
    background-color: #ffffff;
    padding: 1rem;
}

@media (max-width: 1150px) {
    .footer {
        text-align: center;
    }
}