@import "../styles/global.css";

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1.5rem;
    background-color: #F5F5F5;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    width: 100%;
    z-index: 2;
}

.logo   {
    width: 75px;
    height: 75px;
    padding: 1rem;
    background-image: url("../../content/media/assets/CM-Logo-2019.gif");
    background-position: center center;
    background-size: cover;
    background-color: #333333;
}

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.nav a {
    margin: 1rem;
    text-decoration: none;
    color: #333333;
    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: 500;
}

@media (max-width: 1150px) {
    .header {
        justify-content: center;
    }
}