@import "../styles/global.css";

.pageContainer  {
        display: flex;
        flex-direction: column;
}
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;  
    background-image: url("../../content/media/assets/Home-Background.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    height: 75vh;
}

.home img   {
    max-width: 100%;
    height: auto;
}

.homeTitle  {
    margin: 3.5rem;
}

.homeTitle h1 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 3em;
}

.homeSocialBoxContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.homeSocialBox svg {
    width: auto;
    height: 50px;
    margin: 1.5rem;
    color: #333333;
}

.hr {
    margin-bottom: 2rem;
}

/* Rotating word code on the home page */

.homeRW {
    display: flex;
    align-content: center;
    justify-content: center;
}
.homeRW span    {
    position: absolute;
	opacity: 0;
	overflow: hidden;
	color: #333333;
	-webkit-animation: rotateWord 15s linear infinite 0s;
	-ms-animation: rotateWord 15s linear infinite 0s;
    animation: rotateWord 15s linear infinite 0s;
    font-size: 2em;
    font-family: 'Montserrat';
    font-weight: 500; 
}

.homeRW span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
	-ms-animation-delay: 3s; 
	animation-delay: 3s; 
	color: #333333;
}
.homeRW span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
	-ms-animation-delay: 6s; 
	animation-delay: 6s; 
	color: #333333;	
}
.homeRW span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
	-ms-animation-delay: 9s; 
	animation-delay: 9s; 
	color: #333333;
}
.homeRW span:nth-child(5) { 
    -webkit-animation-delay: 12s; 
	-ms-animation-delay: 12s; 
	animation-delay: 12s; 
	color: #333333;
}

@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
	5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
	20% { opacity: 0; -ms-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}

/* END of rotating word code */

/* Styling for about section -- Start */

.aboutBody  {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.aboutBodyText  {
    flex: 0 0 60%;
}

.profileImage   {
    background-image: url("../../content/media/assets/Headshot.jpg");
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    margin: auto;
    border-radius: 50%;
    border: #333333 solid 5px;
}

/* Styling for about section -- End */

/* Styling for general container boxes. -- Start */

.projectContainer, .writingContainer, .aboutContainer    {
    display: flex;
    flex-direction: column;
    padding: 5rem 10rem 0 10rem;
    background-color: #FFFFFF;
}
  
.projectHeader, .writingHeader   {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projectHeader > h4, h2, .writingHeader > h4, h2, .aboutContainer > h4, h2  {
    margin-bottom: 0;
}

.projectHeadTitle, .writingHeadTitle, .aboutTitle {
    color: #333333;
    font-family: 'Montserrat';
    font-weight: 500;
    text-transform: uppercase;
    font-size: 2rem;
}

.projectHeadSubTitle, .writingHeadSubTitle, .aboutSubTitle  {
    padding: 1rem 0 1rem 0;
    font-family: 'Montserrat';
    font-weight: 400;
    text-transform: capitalize;
    font-size: 1.25rem;
}


/* Styling for general container boxes. -- End */

/* Individual Project area styling -- Start */

.projectBox  {
    display: flex;
    margin-top:0px;
    width: 100%;
}

.projectBoxSlave:nth-child(even) {
    margin: 0 3rem 3rem 3rem;
}

.projectBoxSlave {
    display: flex;
    flex: 0 0 21%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.projectImage    {
    height: auto;
    text-align: center;
}

.projectBody {
    height: 150px;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem 1rem 1.5rem;
    align-items: center;
}

.projectBody, .projectBottom   {
    background: #F5F5F5;
}

.projectTitle h3, .writingTitle h3  {
    margin: 0;
}

.projectBottom  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: solid 0.5px #999;
}

.projectDate, .projectTime  {
    padding: 0.5rem;
}

.projectDate p, .projectTime p  {
    font-weight: bold;
    margin-bottom: 0;
}

/* Individual Project area styling -- End */

/* Individual Writing area styling -- Start */

.writingBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.writingBoxSlave    {
    margin-bottom: 3rem;
    background-color: #F5F5F5;
    height: auto;
    width: 700px;
}

.writingBoxSlave:nth-child(even) {
    margin: 0 3rem 3rem 3rem;
}

.writingBoxSlave > a{
    display: flex;
    flex-direction: row;
}

.writingImage   {
    padding: 2rem;
    width: 200px;
    height: 200px;
}

.writingImage > div {
    max-width: 100%;
    max-height: 100%;
}

.writingBody    {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 2rem 2rem 2rem 0;
    justify-content: center;
}

.writingTitle   {
    margin: auto 0;
}

.writingExcerpt {
    margin-bottom: auto;
    margin-top: auto;
}

.writingMore {
    font-weight: bold;
    margin-top: auto;
}

.writingDateTTR > p {
    margin-bottom: 0;
}

/* Individual Writing area styling -- End */

/* View More box styling -- Start */

.viewMoreBox {
    margin-top:0px;
    width: 100%;
}

.viewMoreBody    {
    background: #F5F5F5;
    padding: 1rem;
}

.viewMoreTitle   {
    text-align: center;
}

.viewMoreTitle h4    {
    margin: 0;
}

/* View More box styling -- End */

/* Media Queries below here */

@media (min-width: 1150px) {

}

@media (max-width: 1150px) {
    .home   {
        background-attachment: inherit;
    }
    .projectContainer, .writingContainer, .aboutContainer   {
        padding: 3rem 2rem 0 2rem;
    }
    .projectHeadTitle, .writingHeadTitle, .aboutTitle   {
        margin: auto;
    }
    .writingTitle   {
        text-align: center;
    }
    .projectHeadSubTitle, .writingHeadSubTitle, .aboutSubTitle  {
        margin: auto;
    }
    .writingDateTTR, .writingImage, .aboutBodyText {
        margin: auto;
    }
    .aboutBodyText > p  {
        text-align: center;
    }
    .writingBoxSlave > a{
        flex-direction: column;
    }
    .writingBody    {
        padding: 0 2rem 2rem 2rem;
    }
}