/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript&plugins=show-language+highlight-keywords */
/**
 * Cobalt2 theme for JavaScript, CSS, HTML, Markdown, JSON, YAML, and SCSS
 * @author wesbos
 * Works best when "Show Language" and "Highlight Keywords" plugins are included
 */

 .token-line {
  color: unset !important;
 }

 code[class*="language-"],
 pre[class*="language-"] {
   color: #f8f8f2 !important;
   text-shadow: 0 1px rgba(0, 0, 0, 0.3);
   font-family: 'Inconsolata', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
   direction: ltr;
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
   line-height: 1.35;
 
   -moz-tab-size: 2;
   -o-tab-size: 2;
   tab-size: 2;
 
   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
 }
 
 /* Code blocks */
 pre[class*="language-"] {
   padding-top: 2em;
   padding-bottom: 1em;
   overflow: auto;
   border:0;
 }
 
 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
   background: #223545;
 }
 
 /* Inline code */
 :not(pre) > code[class*="language-"] {
   padding: .1em;
   border-radius: .3em;
   white-space: normal;
 }
 
 /* Language before */
 .prism-show-language {
   background:#1f4662;
   border-top: 2px solid #ffc600;
   text-align: right;
   padding: 5px;
   color:white;
   font-size: 11px;
 }
 .prism-show-language + pre {
   margin-top: 0;
 }
 
 .comment,
 .prolog,
 .doctype,
 .cdata {
   color: #0088FF !important;
 }
 
 .comment, 
 .italic {
   font-style:italic !important;
 }
 
 .namespace {
   opacity: .7 !important;
 }
 
 .property,
 .tag,
 .constant,
 .symbol,
 .deleted {
   color: #f92672 !important;
 }

 .punctuation {
  color: #f8f8f2 !important;
}
 
 .boolean,
 .number {
   color: #FF628C !important;
 }
 
 .selector,
 .attr-name,
 .string,
 .char,
 .builtin,
 .inserted {
   color: #3AD900 !important;
 }
 
 .operator,
 .entity,
 .url,
 .class-name,
 .language-css .string,
 .style .string,
 .variable {
   color: #f8f8f2 !important;
 }
 
 .atrule,
 .attr-value {
   color: #ffc600 !important;
 }
 
 .keyword.keyword-function {
   color: #ffa5f3 !important;
   background:#1d3c52 !important;
   padding: 4px 2px !important;
 }
 
 .keyword {
   color: #FF9D00 !important;
 }
 
 .operator {
   color: #FF9D00 !important;
 }
 
 .function {
   color: #ffc600 !important;
 }
 
 .keyword.keyword-const,
 .keyword.keyword-var,
 .keyword.keyword-let {
   color: #ffc600 !important;
 }
 
 .regex,
 .important {
   color: #fd971f !important;
 }
 
 .important,
 .bold {
   font-weight: bold !important;
 }
 
 .entity {
   cursor: help !important;
 }
 
 /* CSS requires Prism: CSS, CSS-Extras */
 
 code.language-css,
 .hexcode,
 .language-css .boolean,
 .language-css .number {
   color: #EDF080 !important;
 }
 
 .language-css .selector {
   color: #9EFFFF !important;
 }
 
 .language-css .class,
 .language-css .selector .class,
 .language-css .attribute {
   color:#3AD900 !important;
 }
 
 .language-css .property {
   color: #9DF39F !important;
 }
 
 .pseudo-class {
   color:#FF9A1A !important;
 }
 
 /* HTML Markup */
 
 .language-markup .tag,
 .doctype {
   color:#9EFFFF !important;
 }
 
 .language-markup .attr-name {
  color:#ffc600 !important;
  font-style: italic !important;
 }
 .language-markup .attr-value {
   color:#3AD900 !important;
 }
 
 /* Markdown */
 
 .language-markdown .title {
   background:#000 !important;
   color:#FDC500 !important;
 }
 
 .language-markdown .url {
   color:#3AD900 !important;
 }
 
 .language-markdown .list.punctuation {
   color:#FF9A1A !important;
 }
 
 /* JSON */
 
 .language-json .property {
   color:#3AD900 !important;
 }
 
 .language-json .operator {
   color:#f8f8f2 !important;
 }
 
 /* YAML */
 
 code.language-yaml {
   color:#3AD900 !important;
 }
 
 .language-yaml .boolean {
   color:#F85B79 !important;
 }
 
 /* SCSS */
 
 code.language-scss {
   color:#E68885 !important;
 }
 
 .language-scss .property {
   color:#80FFBB !important;
 }
 
 .language-scss .keyword {
   color:#FF9A1A !important;
 }
 
 .language-scss .variable {
   color:#ccc !important;
 }
 
 .language-scss .hexcode {
   color:#F85B79 !important;
 }
 
 .language-scss .function {
   color:#fff !important;
 }