---
import type { GetStaticPaths } from 'astro'
import Header from '../../components/Header.astro'
import Footer from '../../components/Footer.astro'
import Layout from '../../layouts/Layout.astro'
import { getCollection } from 'astro:content'
import FormattedDate from '../../components/FormattedDate.astro'

export const getStaticPaths = (async ({ paginate }) => {
  const posts = (await getCollection('technicalWriting')).sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
  )

  return paginate(posts, { pageSize: 10 })
}) satisfies GetStaticPaths

const { page } = Astro.props
---

<Layout title="Technical Writing">
  <Header />
  <main>
    <section>
      <ul>
        {
          page.data.map((post) => (
            <li>
              <a href={post.data.url}>
                <h4 class="title">{post.data.title}</h4>
                <p class="date">
                  <FormattedDate date={post.data.date} />
                </p>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
  <Footer />
</Layout>
