@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-semiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inconsolata";
  src: url("/fonts/inconsolata-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inconsolata";
  src: url("/fonts/inconsolata-extraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Light mode */
  --primaryBackground: rgba(248, 248, 250,1);
  --secondaryBackground: rgb(255,255,255,1);
  --primaryText: rgba(17,24,39,1);
  --accentBackground: rgba(249, 115, 22, .5);
  --accent: rgb(249, 115, 22);
  --primaryBorder: hsla(221, 39%, 11%, 0.25);
}

html {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Poppins", --apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--primaryText);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2 {
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  opacity: 75%;
}

code {
  font-family: 'Inconsolata', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

/* !important used to override styling on blog post page as every element is auto-wrapped in p tags and in some cases need to override the tailwind styles. */
blockquote > p {
  margin-bottom: 0 !important;
  color: var(--primaryText) !important;
}