name: Merge main to develop
on:
  pull_request:
    branches: [main]
    types: [closed]

jobs:
  merge-main-back-to-develop:
    if: github.event.pull_request.merged == true
    timeout-minutes: 2
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set Git config
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "Github Actions"

      - name: Merge main back to develop
        run: |
          git fetch
          git checkout develop
          git pull --rebase origin main
          git push
